@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Hind', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.103);
}

.navbar-img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 20px;
}

.logo-title{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}

.navbar-logo{
    height: 60px;
}

.navbar-links{
    display: block;
    margin-left: 50px;
} 

.nav-li{
    display: inline-block;
    list-style: none;
    padding: 9px;
    margin: 15px;
    text-align: center;
}  

.nav-a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.nav-a:hover{
    text-shadow: 0 0 1px rgb(157, 158, 156);
}

footer{
    background-color: #c2c2d6; 
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.left-side{
    margin-right: 50px;
}
.right-side{
    margin-left: 50px;
}
.leftside-li{
    font-size: 20px;
    display: block;
    list-style: none;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.leftside-a{
    color: black;
    text-decoration: none;
}
.rightside-a{
    color: black;
    text-decoration: none;
}
.rightside-li{
    font-size: 20px;
    display: block;
    list-style: none;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.leftside-a:hover{
    color: rgb(255, 242, 240);
    transition: 0.05s;
}

.rightside-a:hover{
    color: rgb(255, 242, 240);
    transition: 0.05s;
}

.social-link{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.social-link-img{
    margin-left:50px ;
    margin-right: 50px;
    background-color: white;
    border-radius: 100px;
    box-shadow: 0 0 10px 0 #9c9c9c;
}
